* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	color: white;	
i {margin: 1rem;
	flex-grow:1;
	font-size: 1.3rem;
}
	
/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
	
.bi-search{
text-align: right;
}

.select{
	flex-basis: 10%;
	padding: 3px;
	color: rgba(198, 201, 200, 0.404);
}

.for_you{
	flex-basis: 10%;
	padding: 3px;
}

.point{
	position: absolute;
	font-size: 2rem;
	color: rgba(194, 53, 53, 0.747);
	left: 282px;
	bottom: 1.5rem;
	
}

.meno{
	position: absolute;
	font-size: 2rem;
	left: 308px;
	
}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction:column;
div{ margin-bottom: 0.5rem;}
	


	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

nav{
	height: 4rem;
	font-size: 1rem;
	background-color: black;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0.5rem;
	line-height: 50%;
	button{
		font-size: 1rem;
		height: 1.5rem;
		width: 2.5rem;
		border-radius: 0.5rem;
		border-color: #70006af8;
		}
	i{
		font-size: 1.5rem
}
}

.imp{
	font-size: 0.7rem
}
.bi-chat-square{
font-size: ;}

.chat{
	position: absolute;
	background-color: red;
	font-size: 0.7rem;
	border-radius: 1rem;
	width: 1.4rem;
	height: 0.7rem;
	right: 130px;
	
}


/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	justify-content: space-between;
	line-height: 0.7rem;
	i{
		font-size: 1.7rem;
}
	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.plus{
	background-color: red;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 0.8rem;
	border-radius: 50%;
	position: absolute;
	top: 8.5%;
	left: 32px;
}

.none{
	font-size: 0.7rem;
}
/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
